*
  box-sizing: border-box
body
  position: relative
  background-color: $colorLight
  font-family: 'Raleway', sans-serif


/* Titles */

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  font-family: "Montserrat", sans-serif

h2
  font-size: 11vw
h3
  font-size: 6vw
h4
  font-size: 4vw
p
  font-size: 4.5vw

@include breakpoint($brMedium)
  h2
    font-size: 5.5vw
  h3
    font-size: 2vw
  h4
    font-size: 1vw
  p
    font-size: 1.5vw


/* Column System */

.cols
  display: flex
  flex-flow: column
  width: 100%
  .col
    overflow: hidden
    width: 100%

@function cols($amount)
  @for i 

@include breakpoint($brMedium)
  .cols
    flex-flow: row
    justify-content: center
    .col
      width: 100%
    .col--w-1
      width: 8.33%
    .col--w-2
      width: 16.66%
    .col--w-3
      width: 24.99%
    .col--w-4
      width: 33.32%
    .col--w-5
      width: 41.65%
    .col--w-6
      width: 49.98%
    .col--w-7
      width: 58.31%
    .col--w-8
      width: 66.64%
    .col--w-9
      width: 74.97%
    .col--w-10
      width: 83.30%
    .col--w-11
      width: 91.63%
    .col--w-12
      width: 100%
    .col--#{fuck(1)}
      background-color: #f0f


  .cols--test
    background-color: #fff
    border-right: solid 3px #f0f
    height: 200px
