/*.loader {*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  width: 80px;*/
/*  height: 80px;*/
/*}*/
/*.loader div {*/
/*  display: inline-block;*/
/*  position: absolute;*/
/*  left: 8px;*/
/*  width: 16px;*/
/*  background: #1f9baa;*/
/*  animation: loader 0.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;*/
/*}*/
/*.loader div:nth-child(1) {*/
/*  left: 8px;*/
/*  animation-delay: -0.24s;*/
/*}*/
/*.loader div:nth-child(2) {*/
/*  left: 32px;*/
/*  animation-delay: -0.12s;*/
/*}*/
/*.loader div:nth-child(3) {*/
/*  left: 56px;*/
/*  animation-delay: 0;*/
/*}*/
/*@keyframes loader {*/
/*  0% {*/
/*    top: 8px;*/
/*    height: 64px;*/
/*  }*/
/*  50%, 100% {*/
/*    top: 24px;*/
/*    height: 32px;*/
/*  }*/
/*}*/

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid #1f9baa;
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
