
/* Index Banner */

.banner-wrapper
  overflow: hidden



/* Sections */

section
  overflow-x: hidden
  position: relative
  width: 100%

  .scroll-anchor
    position: absolute
    left: 0
    top: calc(#{-$sizeHeader} + 1px)
    height: 0
    width: 0

  .section__text--project
    h1
      margin-top: 10px
      margin-bottom: 25px
    p
      margin-top: 15px


.section-banner-main
  z-index: 1
  overflow: visible
  padding: 20px
  min-height: 100vh
  width: 100%
  background-color: $colorMain

  .section-banner-main__bg
    z-index: 0
    position: absolute
    top: 0
    right: 0
    width: 200vw

  .section-banner-main__text
    z-index: 2
    position: relative
    margin-top: 10vh
    color: #fff

  .section-banner-main__img
    z-index: 1
    position: relative
    // rov
    img
      display: block
      width: 100%

@include tablet()
  .section-banner-main
    margin-top: $sizeHeader
    padding: 0
    height: calc(100vh - #{$sizeHeader})

    .section-banner-main__img
      overflow: visible
      align-self: end
      height: 70vh

@media only screen and (max-width: 340px)
  .section-banner-main
    .index-banner__text
      padding: 20px
      h3
        margin: 0 0 5px 0



.section-graphics
  z-index: 1
  padding: 60px 20vw

  .section-graphics__elem
    margin-bottom: 60px
    text-align: center
    color: #fff
    img
      display: inline-block
      width: 40%
      margin-bottom: 20px
    h2
      margin-bottom: 10px

@include tablet()
  .section-graphics
    padding: 100px 0

    .section-graphics__elem
      margin-bottom: 0



.wave-bar
  z-index: 2
  overflow: hidden
  position: relative
  left: -5px
  top: 2px
  width: 200vw
  img
    display: block



.section-drone
  padding: 60px 20px
  background-color: #fff

  .section-drone__text
    //h1
    //  font-size: 6.5vw
    //  font-weight: 900
    //  span
    //    font-size: 8.5vw
    .section-drone__icons
      display: flex
      flex-flow: column
      margin-top: 20px
      img
        width: 80%

  .section-drone__img
    img
      width: 100%

@include tablet()
  .section-drone
    padding: 160px 0
    background-size: 60%

    .section-drone__text
      z-index: 2
      position: relative
      overflow: visible
      //h1
      //  font-size: 2.275vw
      //  span
      //    font-size: 3.25vw
      .section-drone__icons
        flex-flow: row
        margin-top: 50px
        img
          width: 50%

    .section-drone__img
      z-index: 1
      position: relative
      overflow: visible
      margin-top: 0
      img
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
        width: 120%



.section-team
  background-color: $colorLight
  padding: 20px

  .section-team__pop
    padding: 40px
    background-color: $colorMain

    .section-team__img
      justify-self: center
      margin: 40px 0 20px 0
      img
        position: relative
        left: 50%
        transform: translateX(-50%)
        width: 50%

    .section-team__text
      align-self: center
      margin-bottom: 10px
      color: #fff
      text-align: center
      h1
        margin-bottom: 15px

  @include tablet()
    .section-team__pop
      padding: 80px 0

      .section-team__img
        justify-self: center
        margin: 0
        img
          width: 70%

      .section-team__text
        margin-bottom: 0

  .section-team__slider
    margin: 100px 0
    padding: 0 30px

    .section-team__text
      padding: 0 10px
      h5
        display: inline-block
        padding: 5px 15px
        background-color: $colorMain
        color: #fff
        font-weight: 700
        margin-bottom: 10px
      h3
        margin-bottom: 10px
      h4
        margin-bottom: 40px
        color: #828282
      p
        margin-bottom: 50px
        max-width: 400px

    .section-team__img
      position: relative
      width: 100%
      img
        display: block
        width: 100%

    .section-team__arrow
      z-index: 100
      position: fixed
      top: 50%
      width: 50px
      height: 50px
      background-color: $colorSec
      transition: transform $tNormal cubic-bezier(.08,.54,0,1)
      cursor: pointer
      img
        padding: 5px
        height: 100%
    .section-team__arrow--previous
      left: 0
      transform: translateY(-50%) translateX(-100%)
    .section-team__arrow--next
      right: 0
      transform: translateY(-50%) translateX(100%)
    .arrow--visible
      transform: translateY(-50%) translateX(0)

  @include tablet()
    .section-team__slider
      padding: 0
      min-height: 400px
      height: 40vh

      .section-team__img
        img
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          width: 400px

      .section-team__text
        h1
          //font-size: 3vw

      .section-team__arrow
        z-index: 0
        align-self: center
        position: static
        top: 0
        width: 100%
        height: auto
        img
          width: 100%
          height: auto
          transition: transform $tNormal cubic-bezier(.08,.54,0,1)
      .section-team__arrow--previous
        transform: translateY(0) translateX(0)
      .section-team__arrow--next
        transform: translateY(0) translateX(0)
      .arrow--visible
        transform: translateY(0) translateX(0)
      .section-team__arrow--previous:hover
        img
          transform: translateX(-10px)
      .section-team__arrow--next:hover
        img
          transform: translateX(10px)

@include tablet()
  .section-team
    padding: 0

    .section-team__text
      margin-bottom: 0



.section-divisions
  background-color: $colorMain
  padding: 0
  margin-top: 80px

  .section-graphics__elem
    overflow: visible
    p
      position: relative
      left: 50%
      transform: translateX(-50%)
      width: 150%

@include tablet()
  .section-divisions
    .section-graphics__elem
      img
        width: 80%



.section-contact
  padding: 40px 20px
  background-color: $colorMain
  color: #fff

  .section-contact__newsletter
    margin-bottom: 80px
    h1
      margin-bottom: 20px
    p
      margin-bottom: 5px
    form
      margin-top: 15px
      width: 100%
      div
        display: flex
        justify-content: center
        margin-bottom: 15px
        input
          flex: 1
          border: none
          margin-right: 15px
          padding: 15px
        button
          border: none
          padding: 15px
          background-color: #1f9baa
          color: #fff
      h6
        display: block
        opacity: 0.45
        padding: 5px
        border: solid rgba(255,255,255,0.3) 2px



  .section-contact__connections
    h1
      margin-bottom: 30px
    a
      color: #fff
    a:hover
      text-decoration: none

    .section-contact__elem
      margin-bottom: 40px
      h4
        margin-bottom: 15px
      .section-contact__tile
        display: flex
        align-items: center
        img, a > img
          display: block
          margin-right: 15px
          width: 30px
        a
          display: block
        a > img
          will-change: true
          transition: transform $tRapid
        a:hover > img
          transform: scale(0.9)

@include tablet()
  .section-contact
    padding: 100px 0

    .section-contact__newsletter
      text-align: center
      form
        margin-top: 25px
        div
          position: relative
          left: 50%
          transform: translateX(-50%)
          width: 70%
          input
            flex: 1
            padding: 15px
          button
            padding: 15px
            transform: scale(1)
            transition: transform $tRapid
            cursor: pointer
          button:hover
            transform: scale(0.9)
        h6
          position: relative
          left: 50%
          transform: translateX(-50%)
          display: block
          width: 70%

    .section-contact__connections
      .section-contact__elem
        height: 100px
        .section-contact__tile
          img
            width: 40px

