menu
  display: flex
  align-items: center
  margin: 0
  padding: 12px 30px
  height: 70px
  background-color: $colorMain
  color: #fff

  .logo
    display: flex
    align-items: center
    height: 100%
    img
      height: 100%
    h1
      margin-left: 15px
      font-family: 'Jura', sans-serif
      font-size: 25px
