/* Error: expected "$".
 *    ,
 * 49 |   @for i 
 *    |        ^
 *    '
 *   src\sass\__core.sass 49:8  @import
 *   style.sass 25:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "$".\a    \2577 \a 49 \2502    @for i \d\a    \2502         ^\a    \2575 \a   src\\sass\\__core.sass 49:8  @import\a   style.sass 25:9            root stylesheet';
}
